/.DemoDslDescriptionLabelProvider.java._trace
/.DemoDslDescriptionLabelProvider.xtendbin
/.DemoDslLabelProvider.java._trace
/.DemoDslLabelProvider.xtendbin
/DemoDslDescriptionLabelProvider.java
/DemoDslLabelProvider.java
